@font-face {
  font-family: mainTitle;
  src: url("/fonts/chaozishejiyingjianfan.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: tagline;
  src: url("/fonts/一叶知秋行楷.ttf");
  font-weight: normal;
  font-style: normal;
}

