@font-face {
  font-family: mainTitle;
  src: url("/fonts/font2.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: tagline;
  src: url("/fonts/font1.ttf");
  font-weight: normal;
  font-style: normal;
}

